
<section id="main">
  <div class="inner">
    <h3>관리자 페이지</h3>
    <%=link_to "category",  admin_category_path%></br>
    <%=link_to "mentorgroup", mentorgroups_path%></br>
    <%=link_to "user", admin_root_path%>
  </div>
</div>
