<section id="banner">
  <div class="inner">
    <h1>무엇이든 물어보세요</br>오빠가 다 알려줄게</h1>
    <p>카테고리 입장하기</p>
    <ul class="actions">
      <%@categories.each do |a|%>
      <li><%=link_to a.name, category_path(a), :class=> "button alt"%></li>
      <%end%>
    </ul>
      <li><%=link_to "멘토진 살펴보기", mentorgroups_path%></li>
  </div>
</section>
<section id="main">
  <div class="inner">
    <section>
      <h4>공지사항</h4>
      <%=render "notices/index"%>
    </section>
  </div>
</section>
