<section id="main">
  <div class="inner">
    <div class="table-wrapper">
      <h3><%= @category.name%></h3>
      <%if user_signed_in?%>
        <% if current_user.is_admin == true%><h4>관리자 입니다.</h4>
        <% elsif @is_super == true%><h4>수퍼멘토 입니다.</h4>
        <% elsif @is_mentor == true%><h4>일반멘토 입니다.</h4>
        <% else %><h4>멘티 입니다.</h4><%end%>

      <%else%>
      <h4>방문자 입니다. 회원가입을 해보세요.</h4>
      <%end%>
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <%if @questions != nil%>
            <%@questions.each do |a|%>
            <tr>
              <td>
                  <%=link_to a.title, category_question_path(params[:id],a.id)%></br>
              </td>
            </tr>
            <% end %>
          <%end%>
        </tbody>
      </table>
      <%if user_signed_in?%>
      <%= link_to "새로운 질문 하러가기", new_category_question_path(params[:id])%>
      <%end%>
    </div>
  </div>
</section>
